.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}
.input-container{
    width: 40%;
    display: flex;
    border: 1px solid black;
}
.brand-input{
    width: 80%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid black;

}
.search-button{
    font-size: 20px;
    border-style: none;
    cursor: pointer;
    background-color: #282c34;
    width: 20%;
}
@media (max-width: 600px) {
    .input-container{
        width: 90%;
    }
  }
  